{% from 'macros.html' import you_can_use_tags %}
{% extends 'layout.html' %}
{% set active_page = 'bbs' %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h1>掲示板</h1>
        <p class="lead">
          「ハッキング」から「今晩のおかず」まで手広くカバー。
        </p>
      </div>

      <div class="panel-group" id="post">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#post" href="#post-form">書き込む</a>
            </h4>
          </div>
          <div id="post-form" class="panel-collapse collapse">
            <div class="panel-body">
              <form action="{{ url_for('bbs.post') }}" method="post">
                <div class="form-group">
                  <textarea class="form-control" name="body" rows="3"></textarea><br>
                  {{ you_can_use_tags() }}
                </div>
                <input class="btn btn-default" type="submit" name="submit" value="投稿"></input>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% for post in posts %}
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p>
            <strong>{{ post.user_name }}</strong>
            <small>{{ post.when_ | datetimeformat }}</small>
          </p>
          <p>
            {{ post.body | nl2br | safe }}
          </p>
        </div>
      </div>
      {% endfor %}
      <div style="text-align: center;">
        <ul class="pagination">
          <li {% if page == 1 %}class="disabled"{% endif %}>
            <a href="{{ '#' if page == 1 else url_for('bbs.index', page=page-1) }}">&laquo;</a>
          </li>
          {% for i in range(begin, end) %}
          <li {% if i == page %}class="active"{% endif %}>
            <a href="{{ '#' if i == page else url_for('bbs.index', page=i) }}">{{ i }}</a>
          </li>
          {% endfor %}
          <li {% if page == pages %}class="disabled"{% endif %}>
            <a href="{{ '#' if page == pages else url_for('bbs.index', page=page+1) }}">&raquo;</a>
          </li>
        </ul>
      </div>
{% endblock %}
