{% extends 'layout.html' %}
{% set active_page = 'index' %}
{% set description = 'Fight Club は福岡市周辺で活動するテニスサークルです。今年で設立%d年目。初心者から上級者まで幅広く在籍し、みんなでワイワイ楽しくやってます！' % age_of_fc() %}

{% block meta %}
    <meta name="description" content="{{ description }}">
    <meta name="Slurp" content="NOYDIR">
    <meta name="keywords" content="Fight Club,テニス,テニスサークル,福岡">
    <meta name="robots" content="index,nofollow">
{% endblock %}

{% block maincontent %}
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-7">
            <h2>Fight Club へようこそ！</h2>
            <p>
              {{ description }}
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="{{ url_for('general.introduction') }}">サークル紹介 &raquo;</a>
            </p>
          </div>
          <div class="col-md-5">
            <img class="top-logo" src="{{ url_for('static', filename='img/fc-logo.png') }}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>活動記録</h2>
          <p>合宿やイベントなどの活動記録を掲載しています。</p>
          <p><a class="btn btn-default" href="{{ url_for('general.report_list') }}">一覧へ &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>ギャラリー</h2>
          <p>日頃の練習風景や試合、イベントなどで撮影した写真を掲載しています。</p>
          <p><a class="btn btn-default" href="{{ url_for('general.gallery') }}">一覧へ &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>募集</h2>
          <p>Fight Club では、定期的にメンバー募集しています。入りたい！という方は、気軽にご連絡ください。</p>
          <p><a class="btn btn-default" href="{{ url_for('general.join') }}">詳しく &raquo;</a></p>
        </div>
      </div>
{% endblock %}
