{% from 'macros.html' import error_message %}
{% extends 'layout.html' %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h2>サークル紹介</h2>
        <p class="lead">
          Fight Club はこんなサークルです。
        </p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl>
            <dt>メンバー紹介</dt>
            <dd>総メンバー数: 約60名 (男性: 6割、女性: 4割)</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/gasshuku.jpg') }}">
          </div>
        </div>
        <div class="col-md-6">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/women-doubles.jpg') }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl>
            <dt>レベル</dt>
            <dd>レベルは初心者から上級者まで幅広くいます。</dd>
            <dt>年齢層</dt>
            <dd>年齢は20代半ばから40代後半まで、そこそこ幅広いです。30代前半から30代後半ぐらいが主です。</dd>
            <dt>活動</dt>
            <dd>
              基本的に週に一度は練習を開催しています。試合やイベントで参加人数が少なくなる週は開催していません。<br>
              Fight Club では初心者の参加を歓迎しています！2016年より毎回練習時間の半分は球出し形式の練習を行っています。<br>
              新メンバーは随時募集中です。応募フォームより連絡お願いします。
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/service.jpg') }}">
          </div>
        </div>
        <div class="col-md-6 hidden-sm">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/backhand.jpg') }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <dl>
            <dt>会費等</dt>
            <dd>
              固定の月会費等はもらっていません。
              <ol>
                <li>必要な参加費はコート代＋積み立てのボール代（300円）です。</li>
                <li>コート代はその日の参加人数で割って払っています。ボール代と合わせても1,000円もかかりません。</li>
              </ol>
            </dd>
            <dt>その他の活動</dt>
            <dd>
              <ol>
                <li>
                  飲み会<br>
                  定例の飲み会として（新年会、忘年会、夏の○周年イベント）があります。<br>
                  上記の他にも随時飲み会（in 博多・天神・メンバーの自宅etc）を開催しています。
                </li>
                <li>
                  マラソン部<br>
                  <del>毎年一月に指宿の菜の花マラソンに参加しています。</del>
                  毎年一月に指宿の菜の花マラソンに参加したり福岡マラソンに参加したりしていましたがこのところ活動休止中です。
                </li>
              </ol>
            </dd>
            <dt>補足</dt>
            <dd>
              <ol>
                <li>2005年設立の Fight Club は、今年で{{ age_of_fc() }}年目になります。アットホームなサークルなので馴染みやすい方だと思います。</li>
                <li>みんな仕事の都合でこれない人もいます。大体4〜8人程度で楽しくたまには厳しく練習しています。 車所有者が城南区、東区、春日方面などにいるので足がない人でも大丈夫だと思います。</li>
                <li>近年は結婚したり子供ができたメンバーが増えてきていて、子供連れで参加していることが多いです。お子さんのいらっしゃる方も参加しやすいと思います。</li>
                <li>男性はテニス馬鹿が多いようです。</li>
                <li>Tシャツ、ポロシャツ、短パン、パーカー、ジャージ、エプロン等 Fight Club のロゴ入りユニフォームあり！</li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/uniform.jpg') }}">
          </div>
        </div>
        <div class="col-md-6 hidden-sm">
          <div href="#" class="thumbnail">
            <img src="{{ url_for('static', filename='img/kappa.jpg') }}">
          </div>
        </div>
      </div>
{% endblock %}
