{% from 'macros.html' import error_message %}
{% extends 'layout.html' %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h2>サークル紹介</h2>
        <p class="lead">
          Fight Club はこんなサークルです。
        </p>
      </div>
      <div class="row">
        {# TODO いい感じの画像が手に入ったらレイアウトを変える #}
        <div class="span12">
          <dl>
            <dt>メンバー紹介</dt>
            <dd>最大メンバー数: 約40人 (男性: 6割、女性: 4割)</dd>
            <dt>レベル</dt>
            <dd>レベル的には初心者〜上級者</dd>
            <dt>年齢層</dt>
            <dd>年齢は22歳から40代後半まで、そこそこ幅広いです。主に20後半〜30半ばぐらいが主です。</dd>
            <dt>今後の目標</dt>
            <dd>1. シングル戦、ダブルス戦にでまくる。もちろん入賞！！</dd>
            <dt>会費等</dt>
            <dd>今費、3ヶ月2000円徴収しています。ボールはリッチにいいボールを使いまくってます。テニスをした時にその日のコート代を来た人数で割って払っています。</dd>
            <dt>その他の活動</dt>
            <dd>
              <ol>
                <li>キャンプ部結成</li>
                <li>冬はスノボーをしに広島（女鹿平、恐羅漢、瑞穂、芸北…）までいっています。これは行く人行かない人います。</li>
                <li>雨天時はある施設でもちろんテニスをしています。どこかは内緒！</li>
              </ol>
            </dd>
            <dt>補足</dt>
            <dd>
              <ol>
                <li>みんな仕事の都合でこれない人もいます。大体8～15人で楽しくたまには厳しく練習しています。 車所有者が小郡、赤坂、藤崎、貝塚、春日、志免方面に多々いるので足がない人でも大丈夫だと思います。</li>
                <li>男性はテニス馬鹿が多いようです。</li>
              </ol>
            </dd>
        </div>
      </div>
{% endblock %}
