{% from 'macros.html' import error_message %}
{% extends 'layout.html' %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h2>サークル紹介</h2>
        <p class="lead">
          Fight Club はこんなサークルです。
        </p>
      </div>
      <div class="row">
        <div class="span12">
          <dl>
            <dt>メンバー紹介</dt>
            <dd>最大メンバー数: 約40人 (男性: 6割、女性: 4割)</dd>
            <ul class="thumbnails" style="margin-top: 10px;">
              <li class="span6">
                <div class="thumbnail">
                  <img src="{{ url_for('static', filename='img/gasshuku.jpg') }}">
                </div>
              </li>
              <li class="span6 hidden-phone">
                <div class="thumbnail">
                  <img src="{{ url_for('static', filename='img/women-doubles.jpg') }}">
                </div>
              </li>
            </ul>
            <dt>レベル</dt>
            <dd>レベルは初心者から上級者まで幅広くいます。</dd>
            <dt>年齢層</dt>
            <dd>年齢は22歳から40代後半まで、そこそこ幅広いです。主に20後半〜30半ばぐらいが主です。</dd>
            <dt>活動</dt>
            <dd>
              基本的に毎週土日祝日はすべて開催しています。試合やイベントで参加人数が少なくなる日は開催していません。<br>
              Fight Club では初心者の参加を歓迎しています！月に一度、初心者を対象とした基礎練習を開催しています。
            </dd>
            <ul class="thumbnails" style="margin-top: 10px;">
              <li class="span6">
                <div class="thumbnail">
                  <img src="{{ url_for('static', filename='img/service.jpg') }}">
                </div>
              </li>
              <li class="span6">
                <div class="thumbnail hidden-phone">
                  <img src="{{ url_for('static', filename='img/forehand.jpg') }}">
                </div>
              </li>
            </ul>
            <dt>会費等</dt>
            <dd>
              会費の徴収は2パターンありますのでどちらかを選んで頂くことになります。
              <ol>
                <li>一ヶ月500円、半年単位での徴収になりますので、3000円で6ヶ月となります。</li>
                <li>月会費徴収でない場合コート代プラス300円を部費として徴収しています。(テニスした時には、その日のコート代を来た人数で割って払っています)</li>
              </ol>
            </dd>
            <dt>その他の活動</dt>
            <dd>
              <ol>
                <li>
                  マラソン部<br>
                  毎年一月に指宿の菜の花マラソンに参加しています。その年によって参加人数はまちまちですが、ここ最近は一生に一度はフルマラソンを走ってみようと思う人が多いみたいです。
                </li>
                <li>
                  スノボ部<br>
                  そろそろ活動再開します。
                </li>
              </ol>
            </dd>
            <ul class="thumbnails" style="margin-top: 10px;">
              <li class="span6">
                <div class="thumbnail">
                  <img src="{{ url_for('static', filename='img/kappa.jpg') }}">
                </div>
              </li>
              <li class="span6">
                <div class="thumbnail hidden-phone">
                  <img src="{{ url_for('static', filename='img/backhand.jpg') }}">
                </div>
              </li>
            </ul>
            <dt>補足</dt>
            <dd>
              <ol>
                <li>2005年設立の Fight Club は、今年で8年目になります。アットホームなサークルなので馴染みやすい方だと思います。</li>
                <li>みんな仕事の都合でこれない人もいます。大体8～15人で楽しくたまには厳しく練習しています。 車所有者が小郡、赤坂、藤崎、貝塚、春日、志免方面に多々いるので足がない人でも大丈夫だと思います。</li>
                <li>男性はテニス馬鹿が多いようです。</li>
                <li>Tシャツ、ポロシャツ、短パン、パーカー、ジャージ、エプロン等 Fight Club のロゴ入りユニフォームあり！</li>
              </ol>
            </dd>
            <ul class="thumbnails" style="margin-top: 10px;">
              <li class="span6">
                <div class="thumbnail">
                  <img src="{{ url_for('static', filename='img/uniform.jpg') }}">
                </div>
              </li>
            </ul>
          </dl>
        </div>
      </div>
{% endblock %}
