{% extends 'layout.html' %}
{% set active_page = 'join_req' %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h1>応募者リスト</h1>
        <p class="lead">
          応募者の一覧です。じゃんじゃん対応して、がんがん引き込みましょう。
        </p>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            {# ('general.show_handled_join_reqs', 'old', '過去の応募') #}
            {% set join_types = [
                    ('general.show_join_reqs', 'new', '新規応募者')
                ]
            %}
            {% for view, id, caption in join_types %}
            <a class="list-group-item {% if id == active_join_type %} active{% endif %}" href="{{ url_for(view) }}">{{ caption }}</a>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-9">
          {% block joinreqs_content %}
          {% endblock %}
        </div>
      </div>
{% endblock %}
