{% from 'macros.html' import render_field %}
{% extends 'layout.html' %}

{% macro anchored_header(text, anchor) %}
          <div style="position: relative;">
            <h3>{{ text }}</h3>
            <div style="width: 1px; height: 1px; position: absolute; top: -50px;">
              <a name="{{ anchor }}">&nbsp;</a>
            </div>
          </div>
{% endmacro %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h2>応募</h2>
        <p class="lead">
          応募はこちらから！
        </p>
      </div>
      <div class="row">
        <div class="span3">
          <div class="well" style="padding: 8px;">
            <ul class="nav nav-list">
              <li><a href="#desc">募集要項</a></li>
              <li><a href="#form">応募フォーム</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {{ anchored_header('募集要項', 'desc') }}
          <p>
            こんな人がいいなぁ。
          </p>
          {{ anchored_header('応募フォーム', 'form') }}
          <form action="{{ url_for('general.join') }}" method="post" class="well">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.home) }}
            <span class="help-block"><strong>例: </strong>東区、城南区、大野城市 ... etc</span>
            {{ render_field(form.email) }}
            <span class="help-block">間違えると折り返しの連絡ができません。</span>
            {{ render_field(form.sex) }}
            {{ render_field(form.age) }}
            {{ render_field(form.car) }}
            {{ render_field(form.has_racket) }}
            {{ render_field(form.holiday) }}
            {{ render_field(form.experience) }}
            {{ render_field(form.comment, style="width: 80%; height: 100px;") }}
            <br>
            <button type="submit" class="btn">送信</button>
          </form>
        </div>
      </div>
{% endblock %}
