{% extends 'joinreqs_layout.html' %}
{% set active_join_type = 'new' %}

{% block joinreqs_content %}
          {% for joinreq in joinreqs %}
          <dl>
            <dt>応募日付</dt>
            <dd>{{ joinreq.when_ | datetimeformat_full }}</dd>
            <dt>名前</dt>
            <dd>{{ joinreq.name }}</dd>
            <dt>住まい</dt>
            <dd>{{ joinreq.home }}</dd>
            <dt>性別</dt>
            <dd>{{ joinreq.sex }}</dd>
            <dt>年齢</dt>
            <dd>{{ joinreq.age }}</dd>
            <dt>車</dt>
            <dd>{{ joinreq.car }}</dd>
            <dt>ラケット</dt>
            <dd>{{ joinreq.has_racket }}</dd>
            <dt>休日</dt>
            <dd>{{ joinreq.holiday }}</dd>
            <dt>テニス歴</dt>
            <dd>{{ joinreq.experience }}</dd>
            <dt>コメント</dt>
            <dd>{{ joinreq.comment | safe }}</dd>
          </dl>
          {# TODO: subject, body #}
          <i class="icon-envelope"></i> <a href="mailto:{{ joinreq.email }}">メールを送る</a><br>
          <i class="icon-ok-circle"></i> <a href="">対応済みにする</a><br>
          <hr>
          {% endfor %}
{% endblock %}
