{% macro you_can_use_tags() %}
<span class="help-block">タグも使えるよ (strong, em, p, ol, ul, li, br, a)</span>
{% endmacro %}

{% macro error_message(name, errors) %}
  {% if errors and name in errors %}
<span class="help-block">
  <span class="label label-danger">エラー</span>
  {{ errors[name] }}
</span>
  {% endif %}
{% endmacro %}

{% macro report_sidebar(recent_reports, user, current_report=None) %}
        <div class="col-md-4">
          {% if user %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">活動記録の管理</h3>
            </div>
            <div class="list-group">
              {% if current_report and current_report.can_edit_by(user) %}
              <a class="list-group-item" href="{{ url_for('general.edit_report', id=current_report.id) }}"><i class="glyphicon glyphicon-pencil"></i> 編集</a>
              {% endif %}
              <a class="list-group-item" href="{{ url_for('general.edit_report') }}"><i class="glyphicon glyphicon-plus"></i> 新規追加</a>
            </div>
          </div>
          {% endif %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">最近の投稿</h3>
            </div>
            <div class="list-group">
              {% for report in recent_reports %}
              <a class="list-group-item" href="{{ url_for('general.report', id=report.id) }}">{{ report.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
{% endmacro %}

{% macro guest_name_with_inviter(guest) %}
{{ guest.name }} (招待者: {{ guest.inviter_name }})
{% endmacro %}
