{% macro you_can_use_tags() %}
<span class="help-block">タグも使えるよ (strong, em, p, ol, ul, li, br, a)</span>
{% endmacro %}

{% macro error_message(name, errors) %}
  {% if errors and name in errors %}
<span class="help-block">
  <span class="label label-important">エラー</span>
  {{ errors[name] }}
</span>
  {% endif %}
{% endmacro %}

{% macro report_sidebar(recent_reports, user, current_report=None) %}
        <div class="span4">
          {% if user %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">活動記録の管理</li>
              {% if current_report and current_report.can_edit_by(user) %}
              <li><a href="{{ url_for('general.edit_report', id=current_report.id) }}"><i class="icon-pencil"></i> 編集</a></li>
              {% endif %}
              <li><a href="{{ url_for('general.edit_report') }}"><i class="icon-plus"></i> 新規追加</a></li>
            </ul>
          </div>
          {% endif %}
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">最近の投稿</li>
              {% for report in recent_reports %}
              <li><a href="{{ url_for('general.report', id=report.id) }}">{{ report.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
{% endmacro %}

{% macro render_field(field) %}
{{ field.label }}
{% if field.errors %}
<span class="help-block">
  <span class="label label-important">エラー</span>
  {% for error in field.errors %}
    {{ error }}
  {% endfor %}
</span>
{% endif %}
{{ field(**kwargs) | safe }}
{% endmacro %}
