{% macro you_can_use_tags() %}
<span class="help-block">タグも使えるよ (strong, em, p, ol, ul, li, br, a)</span>
{% endmacro %}

{% macro error_message(name, errors) %}
  {% if errors and name in errors %}
<span class="help-block">
  <span class="label label-important">エラー</span>
  {{ errors[name] }}
</span>
  {% endif %}
{% endmacro %}

{% macro report_sidebar(recent_reports) %}
        <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">最近の投稿</li>
              {% for report in recent_reports %}
              <li><a href="{{ url_for('general.report', id=report.id) }}">{{ report.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
{% endmacro %}
