{% extends 'layout.html' %}
{% set active_page = 'member' %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>メンバー</h1>
        <p class="lead">
          これがファイトクラブの面々です・・・！！
        </p>
      </div>

      <div class="row">
        <div class="span3 hidden-phone">
          <div class="well" style="padding: 8px;">
            <ul class="nav nav-list">
              <li class="nav-header">男性</li>
              {% for u in males %}
              <li class="{{ 'active' if selected_user and u['id'] == selected_user['id'] else '' }}"><a href="{{ url_for('member', id=u['id']) }}">{{ u['name'] }}</a></li>
              {% endfor %}
              <li class="nav-header">女性</li>
              {% for u in females %}
              <li class="{{ 'active' if selected_user and u['id'] == selected_user['id'] else '' }}"><a href="{{ url_for('member', id=u['id']) }}">{{ u['name'] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="span9">
          {% if selected_user %}
          <h2>{{ selected_user['name'] }}</h2>
          <dl class="dl-horizontal">
            <dt>性別</dt>
            <dd>{{ '男性' if selected_user['sex'] == 1 else '女性' }}</dd>
          </dl>
          {% endif %}
        </div>
        <div class="span3 visible-phone">
          <div class="well" style="padding: 8px;">
            <ul class="nav nav-list">
              <li class="nav-header">男性</li>
              {% for u in males %}
              <li class="{{ 'active' if selected_user and u['id'] == selected_user['id'] else '' }}"><a href="{{ url_for('member', id=u['id']) }}">{{ u['name'] }}</a></li>
              {% endfor %}
              <li class="nav-header">女性</li>
              {% for u in females %}
              <li class="{{ 'active' if selected_user and u['id'] == selected_user['id'] else '' }}"><a href="{{ url_for('member', id=u['id']) }}">{{ u['name'] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
