{% from 'macros.html' import you_can_use_tags, error_message %}
{% extends 'mysettings_layout.html' %}
{% set active_settings_page = 'profile' %}

{% block settingscontent %}
          <h2>プロフィール設定</h2>
          <form action="{{ url_for('member.profile') }}" method="post" class="well">
            <div class="form-group row">
              <div class="col-lg-4">
                <label>名前</label>
                {{ error_message('name', errors) }}
                <input class="form-control" type="text" name="name" value="{{ g.user.name }}" readonly></input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>パスワード</label>
                {{ error_message('password', errors) }}
                <input class="form-control" type="text" name="password" value="{{ g.user.password }}"></input>
              </div>
            </div>
            <span class="help-block"><strong>Note: </strong>何も設定せずに登録すると、パスワードを自動生成しますよ</span>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>性別</label>
                {{ error_message('sex', errors) }}
                <select class="form-control" name="sex">
                  <option{% if g.user.is_male() %} selected{% endif %}>男性</option>
                  <option{% if g.user.is_female() %} selected{% endif %}>女性</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>メールアドレス</label>
                {{ error_message('email', errors) }}
                <input class="form-control" type="text" name="email" value="{{ g.user.email }}"></input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>生年月日</label>
                {{ error_message('birthday', errors) }}
                <input class="form-control" type="date" name="birthday" value="{{ g.user.birthday }}" placeholder="年-月-日"></input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>住まい</label>
                {{ error_message('home', errors) }}
                <input class="form-control" type="text" name="home" value="{{ g.user.home }}"></input>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-4">
                <label>車</label>
                {{ error_message('car', errors) }}
                <input class="form-control" type="text" name="car" value="{{ g.user.car }}"></input>
              </div>
            </div>
            <div class="form-group">
              <label>一言</label>
              {{ you_can_use_tags() }}
              {{ error_message('comment', errors) }}
              <textarea class="form-control" name="comment" style="width: 80%; height: 100px;">{{ g.user.comment }}</textarea>
              <span class="help-block"><strong>Note: </strong>一言と言わず、思いの丈をたくさんつづってください。</span>
            </div>
            <br>
            <input type="submit" class="btn btn-default" value="登録"></input>
          </form>
{% endblock %}
