{% from 'macros.html' import report_sidebar %}
{% extends 'layout.html' %}
{% set active_page = 'index' %}

{% block css %}
    <style>
      .post {
        padding-top: 10px;
        padding-bottom: 15px;
        border-bottom: 1px dotted #ccc;
      }

      .post-meta {
        color: #888;
        font-size: .8em;
        text-align: right;
      }

      .feat-img img {
        padding: 5px;
        border: 1px solid #ccc;
      }
    </style>
{% endblock %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h1>活動記録</h1>
        <p class="lead">
          こんなことやってます！
        </p>
      </div>

      <div class="row">
        <div class="col-md-8">
          {% for report in reports %}
          <div class="post">
            <div class="row">
              <div class="feat-img col-md-3">
                <img src="{{ report.feature_image_url if report.feature_image_url else url_for('static', filename='img/fc-logo.png') }}" class="img-responsive">
              </div>
              <div class="col-md-9">
                <h2>{{ report.title }}</h2>
                <div class="post-meta">{{ report.when | datetimeformat }} by {{ report.author_name }}</div>
                <p>
                  {{ report.description_html | safe }}
                </p>
                <p><a href="{{ url_for('general.report', id=report.id) }}" class="btn btn-default pull-right">もっと読む</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {{ report_sidebar(recent_reports, g.user) }}
      </div>

      <div style="text-align: center;">
        <ul class="pagination">
          <li {% if page == 1 %}class="disabled"{% endif %}>
            <a href="{{ '#' if page == 1 else url_for('general.report_list', page=page-1) }}">&laquo;</a>
          </li>
          {% for i in range(begin, end) %}
          <li {% if i == page %}class="active"{% endif %}>
            <a href="{{ '#' if i == page else url_for('general.report_list', page=i) }}">{{ i }}</a>
          </li>
          {% endfor %}
          <li {% if page == pages %}class="disabled"{% endif %}>
            <a href="{{ '#' if page == pages else url_for('general.report_list', page=page+1) }}">&raquo;</a>
          </li>
        </ul>
      </div>
{% endblock %}
