{% from 'macros.html' import report_sidebar %}
{% extends 'layout.html' %}
{% set active_page = 'index' %}

{% block css %}
    <style>
      .post-meta {
        color: #888;
        font-size: .8em;
        text-align: right;
      }
    </style>
{% endblock %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h1>活動記録</h1>
        <p class="lead">
          こんなことやってます！
        </p>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h2>{{ report.title }}</h2>
          <div class="post-meta">{{ report.when | datetimeformat }} by {{ report.author_name }}</div>
          <p>
            {{ report.description_html | safe }}
          </p>
          <p>
            {{ report.body_html | safe }}
          </p>
        </div>
        {{ report_sidebar(recent_reports, g.user, report) }}
      </div>

      <div style="text-align: center;">
        <ul class="pagination">
          <li {% if not report.newer_id %}class="disabled"{% endif %}>
            <a href="{{ '#' if not report.newer_id else url_for('general.report', id=report.newer_id) }}">&laquo; 新しい投稿へ</a>
          </li>
          <li>
            <a href="{{ url_for('general.report_list') }}">一覧へ</a>
          </li>
          <li {% if not report.older_id %}class="disabled"{% endif %}>
            <a href="{{ '#' if not report.older_id else url_for('general.report', id=report.older_id) }}">昔の投稿へ &raquo;</a>
          </li>
        </ul>
      </div>
{% endblock %}
