{% extends 'layout.html' %}
{% set active_page = 'schedule' %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>活動予定</h1>
        <p class="lead">
          近々の活動予定の一覧です。練習からイベントまで、参加しまくりましょう。
          練習しただけうまくなれる! 飲んだ数だけ強くなれる!
        </p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>練習 <small>やるんダ!</small></h2>
          <div class="accordion" id="practices">
            {% for p in practices %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#practices" href="#practice{{ p['id'] }}">
                  {{ p['when_'].strftime('%m-%d(%a) %H:%M') }}-{{ p['end'] }} @{{ p['loc'] }}
                </a>
              </div>
              <div id="practice{{ p['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('schedule.entry', sid=p['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>コート</dt>
                            <dd>{{ p['court'] }}</dd>
                            <dt>予約番号</dt>
                            <dd>{{ p['no'] }}</dd>
                            <dt>コート代</dt>
                            <dd>{{ p['price'] }}円</dd>
                            <dt>備考</dt>
                            <dd>{{ p['note'] }}</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in p['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="span4">
          <h2>試合 <small>勝つんダ!</small></h2>
          <div class="accordion" id="games">
            {% for ga in games %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#games" href="#game{{ ga['id'] }}">
                  {{ ga['name'] }} @{{ ga['loc'] }}
                </a>
              </div>
              <div id="game{{ ga['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('schedule.entry', sid=ga['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>開催日</dt>
                            <dd>{{ ga['when_'].strftime('%m-%d(%a)') }}</dd>
                            <dt>ジャンル</dt>
                            <dd>{{ ga['genre'] }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ ga['deadline'] }}</dd>
                            <dt>試合代</dt>
                            <dd>{{ ga['price'] }}円</dd>
                            <dt>受付開始</dt>
                            <dd>{{ ga['begin_acceptance'] }}</dd>
                            <dt>試合開始</dt>
                            <dd>{{ ga['begin_game'] }}</dd>
                            <dt>備考</dt>
                            <dd>{{ ga['note'] }}</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in ga['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="span4">
          <h2>イベント <small>遊ぶんダ!</small></h2>
          <div class="accordion" id="events">
            {% for e in events %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#events" href="#event{{ e['id'] }}">
                  {{ e['name'] }} @{{ e['loc'] }}
                </a>
              </div>
              <div id="event{{ e['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('schedule.entry', sid=e['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>開催日</dt>
                            <dd>{{ e['when_'].strftime('%m-%d(%a)') }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ e['deadline'] }}</dd>
                            <dt>費用</dt>
                            <dd>{{ e['price'] }}円</dd>
                            <dt>内容</dt>
                            <dd>{{ e['description'] }}</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in e['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}
