{% from 'macros.html' import guest_name_with_inviter %}
{% extends 'layout.html' %}
{% set active_page = 'schedule' %}

{% macro entry_form(sid, deadline_overred=False) %}
<form id="entry-form-{{ sid }}" action="{{ url_for('schedule.entry', sid=sid) }}" method="post" class="well">
  {% if not deadline_overred %}
  <div class="form-group">
    <label class="checkbox-inline">
      <input type="checkbox" class="is-guest-checkbox" name="is-guest" value="true" data-schedule-id="{{ sid }}">ゲスト</input>
    </label>
  </div>
  {% endif %}
  <div class="form-group">
    {% if not deadline_overred %}<input class="form-control" type="text" name="guest-name" placeholder="お名前" style="margin-bottom: 8px; display: none;"></input>{% endif %}
    <input class="form-control" type="text" name="comment" placeholder="コメント"></input>
  </div>
  <div class="form-group">
    <input class="btn btn-default btn-primary" type="submit" name="action" value="参加する"></input>
    <input id="leave-{{ sid }}" class="btn btn-default" type="submit" name="action" value="参加しない"></input>
  </div>
</form>
{% endmacro %}

{% macro entries_list(schedule, show_payment_status=False) %}
<h5><i class="glyphicon glyphicon-ok-circle"></i> 参加</h5>
<dl>
  {% for gu in schedule.guests %}
  <dt class="enter">
    {{ guest_name_with_inviter(gu) }}
    {%- if has_permission_to_delete_guest(gu.guest_id) %}
    <a style="margin-left: 5px;" onclick="if (confirm('{{ gu.name }}の参加を取り消しますか？')) { location.href='{{ url_for("schedule.remove_guest", guest_id=gu.guest_id) }}'; } else { return false; }" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    {%- endif -%}
  </dt>
  <dd class="enter">{{ gu.comment }}</dd>
  {% endfor %}
  {% for e in schedule.entries %}
    {% if e.is_entry %}
    {% set enter_class = 'enter_not_paid' if show_payment_status and not is_paid_tax_for_current_season(e.user_id) else 'enter' %}
    <dt class="{{ enter_class }}">{{ e.user_name }}</dt>
    <dd class="{{ enter_class }}">{{ e.comment }}</dd>
    {% endif %}
  {% endfor %}
</dl>
<h5><i class="glyphicon glyphicon-remove-circle"></i> 不参加</h5>
<dl>
  {% for e in schedule.entries %}
    {% if not e.is_entry %}
    <dt class="leave">{{ e.user_name }}</dt>
    <dd class="leave">{{ e.comment }}</dd>
    {% endif %}
  {% endfor %}
</dl>
{% endmacro %}

{% block maincontent %}
      <div class="subhead visible-lg">
        <h1>活動予定</h1>
        <p class="lead">
          近々の活動予定の一覧です。練習からイベントまで、参加しまくりましょう。
          練習しただけうまくなれる! 飲んだ数だけ強くなれる!
        </p>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>練習 <small>やるんダ!</small></h2>
          <div class="panel-group" id="practices">
            {% for p in practices %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#practices" href="#practice{{ p.id }}">
                  {{ p.when_ | datetimeformat }}-{{ p.end }} @{{ p.loc }} ({{ p.entry_count }}人) {% if not g.user.is_registered(p) %}<span class="label label-info">未登録</span>{% endif %}
                </a>
              </div>
              <div id="practice{{ p.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if g.user %}
                  {{ entry_form(p.id) }}
                  {% endif %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>コート</dt>
                            <dd>{{ p.court }}</dd>
                            <dt>予約番号</dt>
                            <dd>{{ p.no }}</dd>
                            <dt>コート代</dt>
                            <dd>{{ p.price }}円</dd>
                            <dt>備考</dt>
                            <dd>{{ p.note | nl2br | safe }}</dd>
                          </dl>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ entries_list(p, show_payment_status=True) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4">
          <h2>試合 <small>勝つんダ!</small></h2>
          <div class="panel-group" id="games">
            {% for ga in games %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#games" href="#game{{ ga.id }}">
                  {{ ga.when_ | dateformat }} {{ ga.name }} @{{ ga.loc }} ({{ ga.entry_count }}人) {% if not g.user.is_registered(ga) %}<span class="label label-info">未登録</span>{% endif %}
                </a>
              </div>
              <div id="game{{ ga.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if g.user and (not ga.deadline_overred or is_entried(ga, g.user.id)) %}
                  {{ entry_form(ga.id, ga.deadline_overred) }}
                  {% endif %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>開催日</dt>
                            <dd>{{ ga.when_ | dateformat }}</dd>
                            <dt>ジャンル</dt>
                            <dd>{{ ga.genre }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ ga.deadline }}</dd>
                            <dt>試合代</dt>
                            <dd>{{ ga.price }}円</dd>
                            <dt>受付開始</dt>
                            <dd>{{ ga.begin_acceptance }}</dd>
                            <dt>試合開始</dt>
                            <dd>{{ ga.begin_game }}</dd>
                            <dt>備考</dt>
                            <dd>{{ ga.note | nl2br | safe }}</dd>
                          </dl>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ entries_list(ga) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-4">
          <h2>イベント <small>遊ぶんダ!</small></h2>
          <div class="panel-group" id="events">
            {% for e in events %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#events" href="#event{{ e.id }}">
                  {{ e.when_ | dateformat }} {{ e.name }} @{{ e.loc }} ({{ e.entry_count }}人) {% if not g.user.is_registered(e) %}<span class="label label-info">未登録</span>{% endif %}
                </a>
              </div>
              <div id="event{{ e.id }}" class="panel-collapse collapse">
                <div class="panel-body">
                  {% if g.user and (not e.deadline_overred or is_entried(e, g.user.id)) %}
                  {{ entry_form(e.id, e.deadline_overred) }}
                  {% endif %}
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>開催日</dt>
                            <dd>{{ e.when_ | dateformat }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ e.deadline }}</dd>
                            <dt>費用</dt>
                            <dd>{{ e.price }}円</dd>
                            <dt>内容</dt>
                            <dd>{{ e.description | nl2br | safe }}</dd>
                          </dl>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ entries_list(e) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
    <script>
    (function() {
      $('.is-guest-checkbox').click(function() {
        var isGuest = $(this).prop('checked');
        var sid = $(this).attr('data-schedule-id');
        var form = $('#entry-form-' + sid);
        var guestNameForm = form.find('input[name=guest-name]');
        var leaveButton = form.find('#leave-' + sid);
        if (isGuest) {
          guestNameForm.attr('required', 'true').show();
          leaveButton.hide();
        } else {
          guestNameForm.removeAttr('required').hide();
          leaveButton.show();
        }
      });
    })();
    </script>
{% endblock %}
