{% extends 'layout.html' %}
{% set active_page = 'other' %}

{% macro paid_mark(i, year, user_id, paid, season) %}
<a href="#" style="color: white; text-decoration: none;">
  <span id="tax-badge-{{ i }}"
        class="badge badge-{% if paid %}success{% else %}important{% endif %}"
        data-year="{{ year }}"
        data-season="{{ season }}"
        data-user-id="{{ user_id }}">
    {% if paid %}○{% else %}×{% endif %}
  </span>
</a>
{% endmacro %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>部費</h1>
        <p class="lead">
          部費の支払い状況一覧です。
        </p>
      </div>

      {% if is_god() %}
      支払い状況を更新するには、<span class="badge badge-success">○</span>
      や <span class="badge badge-important">×</span> をクリックしてください。
      {% endif %}

      {% set i = 0 %}
      {% for year, payments in taxes.iteritems() %}
      <div class="row">
        <div class="span12">
          <h3>{{ year }} 年</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>名前</th>
                <th>前期</th>
                <th>後期</th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments %}
              <tr>
                <td>{{ payment.name }}</td>
                <td>{{ paid_mark(i, year, payment.user_id, payment.paid_first, 'first') }}</td>
                {% set i = i + 1 %}
                <td>{{ paid_mark(i, year, payment.user_id, payment.paid_second, 'second') }}</td>
                {% set i = i + 1 %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
{% endblock %}

{% block script %}
    {% if is_god() %}
    <script>
    (function() {
      var updatePayment = function(id, isPaid) {
        if (isPaid) {
          $('#' + id).text('○')
                     .removeClass('badge-important')
                     .addClass('badge-success');
        } else {
          $('#' + id).text('×')
                     .removeClass('badge-success')
                     .addClass('badge-important');
        }
      }

      var performing = [];

      $('.badge').click(function(e) {
        e.preventDefault();

        var id = $(this).attr('id');
        if (performing.indexOf(id) != -1)
          return;

        performing.push(id);
        var year = $(this).attr('data-year');
        var season = $(this).attr('data-season');
        var userId = $(this).attr('data-user-id');
        var url = '{{ url_for('general.switch_payment', year=718347183, season='_season_', user_id=23415678) }}';
        url = url.replace('718347183', year);
        url = url.replace('_season_', season);
        url = url.replace('23415678', userId);
        $.get(url, function(data) {
          performing.splice(performing.indexOf(id), 1); // id を削除する
          updatePayment(id, data === '1');
        });
      });
    })();
    </script>
    {% endif %}
{% endblock %}
