{% extends 'layout.html' %}
{% set active_page = 'other' %}

{% macro payment_histories_list(year, payment_histories) %}
{% set id = 'payment-histories-%d-rows' % year %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>名前</th>
      <th>変更内容</th>
      <th>更新者</th>
    </tr>
  </thead>
  <tbody class="{{ id }}">
    {% for h in payment_histories %}
    <tr>
      <td>{{ h.when_ | dateformat }}</td>
      <td>{{ h.name }}</td>
      <td>{{ h | historyactionformat }}</td>
      <td>{{ h.updater }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="more-history"
   style="display: block; text-align: center;"
   href="#"
   data-year="{{ year }}"
   data-hist-id="{{ id }}">次の 5 件</a>
{% endmacro %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>部費</h1>
        <p class="lead">
          部費の支払い状況一覧です。
        </p>
      </div>

      {% if is_god() %}
      支払い状況を更新するには、どうすんの
      {% endif %}

      {% for stat in payment_stats %}
      <div class="row">
        <div class="span8">
          <h3>
            {{ stat.year }} 年
            {% if is_god() %}<small>(集金率: {{ '%.2f' % (100 * stat.rate_of_payments()) }}%)</small>{% endif %}
          </h3>
          {% if is_god() %}<h4>状況</h4>{% endif %}
          <div class="accordion" id="payments-{{ stat.year }}">
            {% for payment in stat.payments %}
            {% set isok = payment.status_summary(stat.year) %}
            <div class="accordion-group">
              <div class="accordion-heading" style="background: #{{ 'D9EDF7' if isok else 'FCF8E3' }};">
                <a class="accordion-toggle"
                   data-toggle="collapse"
                   data-parent="#payments-{{ stat.year }}"
                   href="#payments-{{ stat.year }}-{{ payment.user_id }}">
                  <i class="icon-{{ 'ok' if isok else 'remove' }}"></i>&nbsp;{{ payment.name }}
                </a>
              </div>
              <div id="payments-{{ stat.year }}-{{ payment.user_id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  <form action="{{ url_for('general.update_payments', year=stat.year, user_id=payment.user_id) }}" method="post" class="well well-small">
                    <fieldset style="padding-bottom: 8px;">
                      {% for month, paid in payment.statuses_of_year(stat.year) %}
                      <label class="checkbox inline">
                        <input type="checkbox" name="seasons" value="{{ month }}"{% if paid %} checked{% endif %}{% if not is_god() %} readonly{% endif %}> {{ month }}
                      </label>
                      {% endfor %}
                    </fieldset>
                    {% if is_god() %}
                    <input class="btn btn-primary" type="submit" value="更新"></input>
                    {% endif %}
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% if is_god() %}
        <div class="span4 visible-desktop">
          <h4>履歴</h4>
          {{ payment_histories_list(stat.year, stat.histories) }}
        </div>
        <div class="span4 hidden-desktop">
          <div class="accordion" id="payment-histories-{{ stat.year }}">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment-histories-{{ stat.year }}" href="#payment-histories-{{ stat.year }}-list">
                  履歴
                </a>
              </div>
              <div id="payment-histories-{{ stat.year }}-list" class="accordion-body collapse">
                <div class="accordion-inner">
                  {{ payment_histories_list(stat.year, stat.histories) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
{% endblock %}

{% block script %}
    {% if is_god() %}
    <script>
    (function() {
      var makeHistoryDom = function(history) {
        return '<tr>' +
                 '<td>' + history.when + '</td>' +
                 '<td>' + history.name + '</td>' +
                 '<td>' + history.action + '</td>' +
                 '<td>' + history.updater + '</td>' +
               '</tr>';
      }

      $('.more-history').click(function(e) {
        e.preventDefault();

        var self = $(this);
        var year = $(this).attr('data-year');
        var histId = $(this).attr('data-hist-id');
        var rows = $('.' + histId).first().find('> tr').length;
        var page = rows == 0 ? 1 : Math.ceil(rows / 5) + 1;
        var url = '{{ url_for('general.tax_histories', year=718347183, page=23415678) }}';
        url = url.replace('718347183', year);
        url = url.replace('23415678', page);
        console.log(rows + ': ' + url);
        $.get(url, function(data) {
          var data = JSON.parse(data);
          if (data.length == 0) {
            self.hide();
          } else {
            var hists = '';
            for (var i in data)
              hists += makeHistoryDom(data[i]);
            $('.' + histId).append(hists);
          }
        });
      });
    })();
    </script>
    {% endif %}
{% endblock %}
