{% extends 'layout.html' %}
{% set active_page = 'other' %}

{% macro payment_histories_list(year, payment_histories) %}
{% set id = 'payment-histories-%d-rows' % year %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>名前</th>
      <th>変更内容</th>
      <th>更新者</th>
    </tr>
  </thead>
  <tbody class="{{ id }}">
    {% for h in payment_histories %}
    <tr>
      <td>{{ h.when_ | dateformat }}</td>
      <td>{{ h.name }}</td>
      <td>{{ h | historyactionformat }}</td>
      <td>{{ h.updater }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="more-history"
   style="display: block; text-align: center;"
   href="#"
   data-year="{{ year }}"
   data-hist-id="{{ id }}">次の 5 件</a>
{% endmacro %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>部費</h1>
        <p class="lead">
          部費の支払い状況一覧です。
        </p>
      </div>

      {% if is_god() %}
      支払い状況を更新するには、どうすんの
      {% endif %}

      {% for stat in payment_stats %}
      <div class="row">
        <div class="span8">
          <h3>
            {{ stat.year }} 年
            {% if is_god() %}<small>(集金率: {{ '%.2f' % (100 * stat.rate_of_payments()) }}%)</small>{% endif %}
          </h3>
          {% if is_god() %}<h4>状況</h4>{% endif %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>名前</th>
              </tr>
            </thead>
            <tbody>
              {% for name, user_id, paid in stat %}
              <tr>
                <td style="background: #{{ 'D9EDF7' if paid else 'FCF8E3' }};">
                  <i class="icon-{{ 'ok' if paid else 'remove' }}"></i>
                  &nbsp;
                  <a class="open-payment" data-year="{{ stat.year }}" data-user-id="{{ user_id }}">
                    {{ name }}
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_god() %}
        <div class="span4 visible-desktop">
          <h4>履歴</h4>
          {{ payment_histories_list(stat.year, stat.histories) }}
        </div>
        <div class="span4 hidden-desktop">
          <div class="accordion" id="payment-histories-{{ stat.year }}">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#payment-histories-{{ stat.year }}" href="#payment-histories-{{ stat.year }}-list">
                  履歴
                </a>
              </div>
              <div id="payment-histories-{{ stat.year }}-list" class="accordion-body collapse">
                <div class="accordion-inner">
                  {{ payment_histories_list(stat.year, stat.histories) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
{% endblock %}

{% block script %}
    {% if is_god() %}
    <script>
    (function() {
      var updatePayment = function(id, isPaid) {
        if (isPaid) {
          $('#' + id).text('○')
                     .removeClass('badge-important')
                     .addClass('badge-success');
        } else {
          $('#' + id).text('×')
                     .removeClass('badge-success')
                     .addClass('badge-important');
        }
      }

      var makeHistoryDom = function(history) {
        return '<tr>' +
                 '<td>' + history.when + '</td>' +
                 '<td>' + history.name + '</td>' +
                 '<td>' + history.action + '</td>' +
                 '<td>' + history.updater + '</td>' +
               '</tr>';
      }

      var performing = [];

      $('.badge').click(function(e) {
        e.preventDefault();

        var id = $(this).attr('id');
        if (performing.indexOf(id) != -1)
          return;

        performing.push(id);
        var year = $(this).attr('data-year');
        var season = $(this).attr('data-season');
        var userId = $(this).attr('data-user-id');
        var histId = $(this).attr('data-hist-id');
        var url = '{{ url_for('general.switch_payment', year=718347183, season='_season_', user_id=23415678) }}';
        url = url.replace('718347183', year);
        url = url.replace('_season_', season);
        url = url.replace('23415678', userId);
        $.get(url, function(data) {
          performing.splice(performing.indexOf(id), 1); // id を削除する
          var data = JSON.parse(data)
          updatePayment(id, data.paid === 1);
          $('.' + histId).prepend(makeHistoryDom(data.newHistory));
        });
      });

      $('.more-history').click(function(e) {
        e.preventDefault();

        var self = $(this);
        var year = $(this).attr('data-year');
        var histId = $(this).attr('data-hist-id');
        var rows = $('.' + histId).first().find('> tr').length;
        var page = rows == 0 ? 1 : Math.ceil(rows / 5) + 1;
        var url = '{{ url_for('general.tax_histories', year=718347183, page=23415678) }}';
        url = url.replace('718347183', year);
        url = url.replace('23415678', page);
        console.log(rows + ': ' + url);
        $.get(url, function(data) {
          var data = JSON.parse(data);
          if (data.length == 0) {
            self.hide();
          } else {
            var hists = '';
            for (var i in data)
              hists += makeHistoryDom(data[i]);
            $('.' + histId).append(hists);
          }
        });
      });
    })();
    </script>
    {% endif %}
{% endblock %}
