<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
    <title>Fight Club</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <center><font color="#FF0000">Fight Club</font></center>
    <br>
    <br>
    <center><a href="{{ mobile_url_for('mobile.index') }}">メニュー</a></center>
    <br>
    <form action="{{ mobile_url_for('mobile.bbs_post') }}" method="post">
      <textarea name="body" cols="17" rows="3" istyle="1"></textarea><br>
      <input type="submit" name="submit" value="投稿"></input>
    </form>
    {% for post in posts %}
    <hr>
    <font size="3">
      {{ post['user_name'] }} <font color="gray" size="-1">{{ post['when_'] | datetimeformat }}</font><br>
      {{ post['body'] | safe }}
    </font>
    {% endfor %}
    <hr>
    <center>
      {% if page > 1 %}
        <a href="{{ mobile_url_for('mobile.bbs', page=page-1) }}">←</a>
      {% endif %}

      {% for i in range(begin, end) %}
        {% if page == i %}
        <strong>
        {% else %}
        <a href="{{ mobile_url_for('mobile.bbs', page=i) }}">
        {% endif %}

        {{ i }}

        {% if page == i %}
        </strong>
        {% else %}
        </a>
        {% endif %}
      {% endfor %}

      {% if page < pages %}
        <a href="{{ mobile_url_for('mobile.bbs', page=page+1) }}">→</a>
      {% endif %}
    </center>
  </body>
</html>
