<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
    <title>Fight Club</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <center><font color="#FF0000">Fight Club</font></center>
    <hr>
    <center>[{{ user.name }}]</center>
    <hr>
    {% if notices %}
    □告知<br>
    {% for n in notices %}
    <a href="{{ mobile_url_for('mobile.notice', id=n.id) }}">{{ n.title }}</a><br>
    {% endfor %}
    <br>
    {% endif %}
    □予定<br>
    【<a href="{{ mobile_url_for('mobile.practices') }}">練習情報[{{ practice_count }}]</a>】<br>
    【<a href="{{ mobile_url_for('mobile.games') }}">試合情報[{{ game_count }}]</a>】<br>
    【<a href="{{ mobile_url_for('mobile.events') }}">イベント情報[{{ event_count }}]</a>】<br>
    <br>
    □コミュニケーション<br>
    【<a href="{{ mobile_url_for('mobile.bbs') }}">掲示板</a>】<br>
    【<a href="{{ mobile_url_for('mobile.member') }}">メンバー</a>】<br>
    <br>
    □その他<br>
    【<a href="{{ mobile_url_for('mobile.rule') }}">規約</a>】<br>
    【<a href="{{ mobile_url_for('mobile.profile') }}">個人設定</a>】<br>
    {#
    □私書箱<br>
    【受信トレイ：<a href="{{ mobile_url_for('mobile.inbox') }}">{{ unread_count }}/{{ read_count }}</a>】<br>
    【投稿履歴：<a href="{{ mobile_url_for('mobile.sent') }}">{{ sent_count }}</a>】<br>
    【<a href="{{ mobile_url_for('mobile.send') }}">投稿</a>】<br><br>
    #}
  </body>
</html>
