<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
    <title>Fight Club</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <center><font color="#FF0000">Fight Club</font></center>
    <br>
    <br>
    <center><a href="{{ mobile_url_for('mobile.index') }}">メニュー</a></center>
    <hr>
    {% if info_msg is defined %}
    <center><strong><font color="#FF0000">{{ info_msg }}</font></strong></center>
    <hr>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
