<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
    <title>Fight Club</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <center><font color="#FF0000">Fight Club</font></center>
    <br>
    <br>
    <center><a href="{{ mobile_url_for('mobile.index') }}">メニュー</a></center>
    <hr>
    {% block description %}
    {% endblock %}
    <hr>
    <form action="{{ mobile_url_for('mobile.entry', schid=schedule.id) }}" method="post">
      <input type="hidden" name="come_from" value="{{ request.url }}"></input>
      <input type="text" name="comment"></input>
      <select name="action">
        {% if not user.is_registered(schedule) or user.is_entered(schedule) %}
        <option selected>参加</option>
        <option>不参加</option>
        {% else %}
        <option>参加</option>
        <option selected>不参加</option>
        {% endif %}
      </select>
      <br>
      <input type="submit" name="submit" value="登録"></input>
    </form>
    <ol>
    {% for e in schedule.entries %}
      {% set is_me = e.user_id == user.id %}
      {% if is_me %}
      <b>
      {% endif %}
      <font color="{{ 'blue' if e.is_entry else 'red' }}">
        <li>{{ '参加' if e.is_entry else '不参加' }} {{ e.user_name }} {{ e.comment }}</li>
      </font>
      {% if is_me %}
      </b>
      {% endif %}
    {% endfor %}
    </ol>
  </body>
</html>
