<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
    <title>Fight Club</title>
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <center><font color="#FF0000">Fight Club</font></center>
    <br>
    <br>
    <center><a href="{{ mobile_url_for('mobile.index') }}">メニュー</a></center>
    <hr>
    {% block description %}
    {% endblock %}
    <hr>
    <form action="{{ mobile_url_for('mobile.entry', schid=schedule['id']) }}" method="post">
      <input type="hidden" name="come_from" value="{{ request.url }}"></input>
      <input type="text" name="comment"></input>
      <br>
      <input type="submit" name="action" value="参加"></input>
      <input type="submit" name="action" value="不参加"></input>
    </form>
    <ol>
    {% for e in schedule['entries'] %}
      {% set is_me = e['user_id'] == user['id'] %}
      {% if is_me %}
      <b>
      {% endif %}
      <font color="{{ 'blue' if e['is_entry'] else 'red' }}">
        <li>{{ '参加' if e['is_entry'] else '不参加' }} {{ e['user_name'] }} {{ e['comment'] }}</li>
      </font>
      {% if is_me %}
      </b>
      {% endif %}
    {% endfor %}
    </ol>
  </body>
</html>
