/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

.hero-unit {
    padding: 30px;
}

.hero-unit div#top-logo {
    width: 420px;
    height: 280px;
    background-image: url('/static/img/fc-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-unit h2 {
    padding-top: 50px;
}

@media (max-width: 480px) {
    .hero-unit div#top-logo {
        width: 320px;
        height: 240px;
    }

    .hero-unit h2 {
        padding-top: 0;
    }
}

.navbar .brand {
    color: #fff;
}
