<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<style>
	  body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	  }
	</style>
	<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="static/css/style.css">

	<script src="static/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Fight Club</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/"><i class="icon-home icon-white"></i> ホーム</a></li>
              <li><a href="/schedule"><i class="icon-calendar icon-white"></i> 活動予定</a></li>
              <li><a href="/member"><i class="icon-user icon-white"></i> メンバー</a></li>
              <li><a href="/bbs"><i class="icon-list-alt icon-white"></i> 掲示板</a></li>
              <li><a href="/message"><i class="icon-envelope icon-white"></i> 私書箱</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/admin">管理</a></li>
              <li><a href="/login">ログイン</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <div class="row-fluid">
          <div class="span7">
            <h2>Fight Club へようこそ！</h2>
            <p>
              Fight Club は福岡市周辺で活動するテニスサークルです。初心者から上級者まで幅広く在籍し、みんなでワイワイ楽しくやってます！
            </p>
            <p>
              <a class="btn btn-primary btn-large">サークル紹介 &raquo;</a>
            </p>
          </div>
          <div class="span5">
            <img class="top-logo" src="static/img/fc-logo.png">
          </div>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>活動記録</h2>
          <p>合宿やイベントなどの活動記録を掲載しています。</p>
          <p><a class="btn" href="#">一覧へ &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>ギャラリー</h2>
          <p>日頃の練習風景や試合、イベントなどで撮影した写真を掲載しています。</p>
          <p><a class="btn" href="#">一覧へ &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>募集</h2>
          <p>Fight Club では、定期的にメンバー募集しています。入りたい！という方は、気軽にご連絡ください。</p>
          <p><a class="btn" href="#">詳しく &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>困ったことがあれば Y.K までご連絡を。すぐにかけつけます。</p>
      </footer>

    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>

      <script src="static/js/libs/bootstrap/bootstrap.min.js"></script>

      <script src="static/js/script.js"></script>
  </body>
</html>
