<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<style>
	  body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	  }
	</style>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/libs/modernizr-2.5.3-respond-1.1.0.min.js') }}"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">Fight Club</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ url_for('index') }}"><i class="icon-home icon-white"></i> ホーム</a></li>
              <li class="active"><a href="{{ url_for('schedule') }}"><i class="icon-calendar icon-white"></i> 活動予定</a></li>
              <li><a href="{{ url_for('member') }}"><i class="icon-user icon-white"></i> メンバー</a></li>
              <li><a href="{{ url_for('bbs') }}"><i class="icon-list-alt icon-white"></i> 掲示板</a></li>
              <li><a href="{{ url_for('message') }}"><i class="icon-envelope icon-white"></i> 私書箱</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="{{ url_for('admin') }}">管理</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                {% if g.user %}
                {{ g.user['name'] }}
                {% else %}
                ログイン
                {% endif %}
                <strong class="caret"></strong></a>
                {% if g.user %}
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('logout') }}">ログアウト</a></li>
                </ul>
                {% else %}
                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0;">
                  <form action="{{ url_for('login') }}" method="post">
                    <input id="user_password" style="margin-bottom: 15px;" type="password" name="password" size="30" placeholder="パスワード"></input>
                    <label class="checkbox">
                      <input id="user_remember_me" style="float left; margin-right: 10px;" type="checkbox" name="remember_me" value="1"></input>
                      記憶する
                    </label>
                    <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="ログイン"></input>
                  </form>
                </div>
                {% endif %}
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="subhead visible-desktop">
        <h1>活動予定</h1>
        <p class="lead">
          近々の活動予定の一覧です。練習からイベントまで、参加しまくりましょう。
          練習しただけうまくなれる! 飲んだ数だけ強くなれる!
        </p>
      </div>

      <div class="row">
        <div class="span4">
          <h2>練習 <small>やるんダ!</small></h2>
          <div class="accordion" id="practices">
            {% for p in practices %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#practices" href="#practice{{ p['id'] }}">
                  {{ p['when_'].strftime('%m/%d(%a) %H:%M') }}-{{ p['end'] }} @{{ p['loc'] }}
                </a>
              </div>
              <div id="practice{{ p['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('entry', sid=p['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>コート</dt>
                            <dd>{{ p['court'] }}</dd>
                            <dt>予約番号</dt>
                            <dd>{{ p['no'] }}</dd>
                            <dt>コート代</dt>
                            <dd>{{ p['price'] }}円</dd>
                            <dt>備考</dt>
                            <dd>{{ p['note'] }}</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in p['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="span4">
          <h2>試合 <small>勝つんダ!</small></h2>
          <div class="accordion" id="games">
            {% for ga in games %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#games" href="#game{{ ga['id'] }}">
                  {{ ga['name'] }} @{{ ga['loc'] }}
                </a>
              </div>
              <div id="game{{ ga['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('entry', sid=ga['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>ジャンル</dt>
                            <dd>{{ ga['genre'] }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ ga['deadline'] }}</dd>
                            <dt>試合代</dt>
                            <dd>{{ ga['price'] }}円</dd>
                            <dt>受付開始</dt>
                            <dd>{{ ga['begin_acceptance'] }}</dd>
                            <dt>試合開始</dt>
                            <dd>{{ ga['begin_game'] }}</dd>
                            <dt>備考</dt>
                            <dd>{{ ga['note'] }}</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in ga['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="span4">
          <h2>イベント <small>遊ぶんダ!</small></h2>
          <div class="accordion" id="events">
            {% for e in events %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#events" href="#event{{ e['id'] }}">
                  {{ e['name'] }} @{{ e['loc'] }}
                </a>
              </div>
              <div id="event{{ e['id'] }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% if g.user %}
                  <form action="{{ url_for('entry', sid=e['id']) }}" method="post" class="well">
                    <input type="text" name="comment" class="input-large" placeholder="コメント"></input>
                    <input class="btn btn-primary" type="submit" name="action" value="参加する"></input>
                    <input class="btn" type="submit" name="action" value="参加しない"></input>
                  </form>
                  {% endif %}
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>詳細</th>
                        <th>状況</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <dl>
                            <dt>内容</dt>
                            <dd>{{ e['description'] }}</dd>
                            <dt>締め切り</dt>
                            <dd>{{ e['deadline'] }}</dd>
                            <dt>費用</dt>
                            <dd>{{ e['price'] }}円</dd>
                          </dl>
                        </td>
                        <td>
                          <dl>
                            {% for e in e['entries'] %}
                            <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                            <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                            {% endfor %}
                          </dl>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>困ったことがあれば Y.K までご連絡を。すぐにかけつけます。</p>
      </footer>

    </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/libs/jquery-1.7.2.min.js') }}"><\/script>')</script>

      <script src="{{ url_for('static', filename='js/libs/bootstrap/bootstrap.min.js') }}"></script>

      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
