{% from 'admin/macros.html' import entries_list %}
{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'game' %}

{% block tabcontent %}
          <form action="{{ url_for('admin.delete_game', id=schedule.id) }}" method="post" class="well">
            <p>
              本当に削除しますか？
              <input type="submit" name="action" class="btn btn-default btn-danger" value="はい"></input>
              <input type="submit" name="action" class="btn btn-default" value="いいえ"></input>
            </p>
          </form>
          <p>
          </p>
          <table class="table table-bordered" style="margin-top: 12px;">
            <thead>
              <tr>
                <th>詳細</th>
                <th>状況</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <dl>
                    <dt>試合名</dt>
                    <dd>{{ schedule.name }}</dd>
                    <dt>場所</dt>
                    <dd>{{ schedule.loc }}</dd>
                    <dt>開催日</dt>
                    <dd>{{ schedule.when_ | dateformat }}</dd>
                    <dt>ジャンル</dt>
                    <dd>{{ schedule.genre }}</dd>
                    <dt>締め切り</dt>
                    <dd>{{ schedule.deadline }}</dd>
                    <dt>試合代</dt>
                    <dd>{{ schedule.price }}円</dd>
                    <dt>受付開始</dt>
                    <dd>{{ schedule.begin_acceptance }}</dd>
                    <dt>試合開始</dt>
                    <dd>{{ schedule.begin_game }}</dd>
                    <dt>備考</dt>
                    <dd>{{ schedule.note | nl2br | safe }}</dd>
                  </dl>
                </td>
                <td>
                  {{ entries_list(schedule) }}
                </td>
              </tr>
            </tbody>
          </table>
{% endblock %}
