{% extends 'admin/layout.html' %}
{% set active_admin_page = 'admin_member' %}

{% block admincontent %}
          <h2>メンバー管理</h2>
          <table class="table table-bordered">
            <tr>
              <th>名前</th>
              <td>{{ user['name'] }}</td>
            </tr>
            <tr>
              <th>性別</th>
              <td>{{ '男性' if user['sex'] == 1 else '女性' }}</td>
            </tr>
            <tr>
              <th>パスワード</th>
              <td>{{ user['password'] }}</td>
            </tr>
          </table>
          <form action="{{ url_for('delete_member', id=user['id']) }}" method="post" class="well">
            <p>
              削除しますか？
              <input type="submit" name="action" class="btn btn-danger" value="はい"></input>
              <input type="submit" name="action" class="btn" value="いいえ"></input>
            </p>
          </form>
{% endblock %}
