{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'admin_game' %}

{% block tabcontent %}
          <form action="{{ url_for('delete_game', id=game['id']) }}" method="post" class="well">
            <p>
              本当に削除しますか？
              <input type="submit" name="action" class="btn btn-danger" value="はい"></input>
              <input type="submit" name="action" class="btn" value="いいえ"></input>
            </p>
          </form>
          <p>
          </p>
          <table class="table table-bordered" style="margin-top: 12px;">
            <thead>
              <tr>
                <th>詳細</th>
                <th>状況</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <dl>
                    <dt>試合名</dt>
                    <dd>{{ game['name'] }}</dd>
                    <dt>場所</dt>
                    <dd>{{ game['loc'] }}</dd>
                    <dt>開催日</dt>
                    <dd>{{ game['when_'].strftime('%m-%d(%a)') }}</dd>
                    <dt>ジャンル</dt>
                    <dd>{{ game['genre'] }}</dd>
                    <dt>締め切り</dt>
                    <dd>{{ game['deadline'] }}</dd>
                    <dt>試合代</dt>
                    <dd>{{ game['price'] }}円</dd>
                    <dt>受付開始</dt>
                    <dd>{{ game['begin_acceptance'] }}</dd>
                    <dt>試合開始</dt>
                    <dd>{{ game['begin_game'] }}</dd>
                    <dt>備考</dt>
                    <dd>{{ game['note'] }}</dd>
                  </dl>
                </td>
                <td>
                  <dl>
                    {% for e in game['entries'] %}
                    <dt class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['user_name'] }}</dt>
                    <dd class="{{ 'enter' if e['is_entry'] else 'leave' }}">{{ e['comment'] }}</dd>
                    {% endfor %}
                  </dl>
                </td>
              </tr>
            </tbody>
          </table>
{% endblock %}
