{% extends 'admin/layout.html' %}
{% set active_admin_page = 'admin_member' %}

{% block admincontent %}
          <h2>メンバー管理</h2>
          <form action="{{ url_for('new_member') }}" method="post" class="well">
            <label>名前</label>
            <input type="text" name="name"></input>
            <label>性別</label>
            <select name="sex">
              <option>男性</option>
              <option>女性</option>
            </select>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
{% endblock %}
