{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'game' %}

{% block tabcontent %}
          {% if schedule is defined %}
          <form action="{{ url_for('admin.edit_game', id=schedule['id']) }}" method="post" class="well">
            <label>試合名</label>
            <input type="text" name="name" value="{{ schedule['name'] }}"></input>
            <label>開催日</label>
            <input type="text" name="date" class="datepicker" value="{{ schedule['when_'].strftime('%Y-%m-%d') }}"></input>
            <label>場所</label>
            <input type="text" name="loc" value="{{ schedule['loc'] }}"></input>
            <label>ジャンル</label>
            <input type="text" name="genre" value="{{ schedule['genre'] }}"></input>
            <label>締め切り</label>
            <input type="text" name="deadline" class="datepicker" value="{{ schedule['deadline'] }}"></input>
            <label>試合代</label>
            <input type="text" name="price" value="{{ schedule['price'] }}"></input>
            <label>受付開始</label>
            <input type="text" name="begin_acceptance" class="timepicker" value="{{ schedule['begin_acceptance'] }}"></input>
            <label>試合開始</label>
            <input type="text" name="begin_game" class="timepicker" value="{{ schedule['begin_game'] }}"></input>
            <label>備考</label>
            <textarea name="note" style="width: 80%; height: 100px;">{{ schedule['note'] }}</textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% else %}
          <form action="{{ url_for('admin.new_game') }}" method="post" class="well">
            <label>試合名</label>
            <input type="text" name="name"></input>
            <label>開催日</label>
            <input type="text" name="date" class="datepicker" value="{{ today.strftime('%Y-%m-%d') }}"></input>
            <label>場所</label>
            <input type="text" name="loc"></input>
            <label>ジャンル</label>
            <input type="text" name="genre"></input>
            <label>締め切り</label>
            <input type="text" name="deadline" class="datepicker" value="{{ today.strftime('%Y-%m-%d')}}"></input>
            <label>試合代</label>
            <input type="text" name="price"></input>
            <label>受付開始</label>
            <input type="text" name="begin_acceptance" class="timepicker"></input>
            <label>試合開始</label>
            <input type="text" name="begin_game" class="timepicker"></input>
            <label>備考</label>
            <textarea name="note" style="width: 80%; height: 100px;"></textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% endif %}
{% endblock %}
