{% from 'macros.html' import you_can_use_tags %}
{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'practice' %}

{% block tabcontent %}
          {% if schedule is defined %}
          <form action="{{ url_for('admin.edit_practice', id=schedule['id']) }}" method="post" class="well">
            <label>日付</label>
            <input type="date" name="date" value="{{ schedule['when_'].strftime('%Y-%m-%d') }}" placeholder="年-月-日" required></input>
            <label>開始時刻</label>
            <input type="time" name="begintime" value="{{ schedule['when_'] | timeformat }}" placeholder="時:分" reuqired></input>
            <label>終了時刻</label>
            <input type="time" name="endtime" value="{{ schedule['end'] }}" placeholder="時:分" required></input>
            <label>場所</label>
            <input type="text" name="loc" value="{{ schedule['loc'] }}" required></input>
            <label>コート</label>
            <input type="text" name="court" value="{{ schedule['court'] }}"></input>
            <label>予約番号</label>
            <input type="text" name="no" value="{{ schedule['no'] }}"></input>
            <label>コート代</label>
            <input type="text" name="price" value="{{ schedule['price'] }}"></input>
            <label>備考</label>
            {{ you_can_use_tags() }}
            <textarea name="note" style="width: 80%; height: 100px;">{{ schedule['note'] | safe }}</textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% else %}
          <form action="{{ url_for('admin.new_practice') }}" method="post" class="well">
            <label>日付</label>
            <input type="date" name="date" value="{{ today.strftime('%Y-%m-%d') }}" placeholder="年-月-日" required></input>
            <label>開始時刻</label>
            <input type="time" name="begintime" placeholder="時:分" required></input>
            <label>終了時刻</label>
            <input type="time" name="endtime" placeholder="時:分" required></input>
            <label>場所</label>
            <input type="text" name="loc" required></input>
            <label>コート</label>
            <input type="text" name="court"></input>
            <label>予約番号</label>
            <input type="text" name="no"></input>
            <label>コート代</label>
            <input type="text" name="price"></input>
            <label>備考</label>
            {{ you_can_use_tags() }}
            <textarea name="note" style="width: 80%; height: 100px;"></textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% endif %}
{% endblock %}
