{% extends 'admin/layout.html' %}
{% set active_admin_page = 'member' %}

{% block admincontent %}
          <h2>メンバー管理</h2>
          <form action="{{ url_for('admin.new_member') }}" method="post" class="well">
            <label>名前</label>
            <input type="text" name="name"></input>
            <label>性別</label>
            <select name="sex">
              <option>男性</option>
              <option>女性</option>
            </select>
            <label>権限</label>
            <label class="checkbox">
              <input type="checkbox" name="permissions" value="schedule">
              予定
            </label>
            <label class="checkbox">
              <input type="checkbox" name="permissions" value="member">
              メンバー
            </label>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
{% endblock %}
