{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'admin_event' %}

{% block tabcontent %}
          {% if event is defined %}
          <form action="{{ url_for('admin.edit_event', id=event['id']) }}" method="post" class="well">
            <label>イベント名</label>
            <input type="text" name="name" value="{{ event['name'] }}"></input>
            <label>開催日</label>
            <input type="text" name="date" class="datepicker" value="{{ event['when_'].strftime('%Y-%m-%d') }}"></input>
            <label>場所</label>
            <input type="text" name="loc" value="{{ event['loc'] }}"></input>
            <label>締め切り</label>
            <input type="text" name="deadline" class="datepicker" value="{{ event['deadline'] }}"></input>
            <label>費用</label>
            <input type="text" name="price" value="{{ event['price'] }}"></input>
            <label>内容</label>
            <textarea name="description" style="width: 80%; height: 100px;">{{ event['description'] }}</textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% else %}
          <form action="{{ url_for('admin.new_event') }}" method="post" class="well">
            <label>イベント名</label>
            <input type="text" name="name"></input>
            <label>開催日</label>
            <input type="text" name="date" class="datepicker" value="{{ today.strftime('%Y-%m-%d') }}"></input>
            <label>場所</label>
            <input type="text" name="loc"></input>
            <label>締め切り</label>
            <input type="text" name="deadline" class="datepicker"></input>
            <label>費用</label>
            <input type="text" name="price"></input>
            <label>内容</label>
            <textarea name="description" style="width: 80%; height: 100px;"></textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% endif %}
{% endblock %}
