{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'admin_practice' %}

{% block tabcontent %}
          {% if practice is defined %}
          <form action="{{ url_for('admin.edit_practice', id=practice['id']) }}" method="post" class="well">
            <label>日付</label>
            <input type="text" name="date" class="datepicker" value="{{ practice['when_'].strftime('%Y-%m-%d') }}"></input>
            <label>開始時刻</label>
            <input type="text" name="begintime" class="timepicker" value="{{ practice['when_'].strftime('%H:%M') }}"></input>
            <label>終了時刻</label>
            <input type="text" name="endtime" class="timepicker" value="{{ practice['end'] }}"></input>
            <label>場所</label>
            <input type="text" name="loc" value="{{ practice['loc'] }}"></input>
            <label>コート</label>
            <input type="text" name="court" value="{{ practice['court'] }}"></input>
            <label>予約番号</label>
            <input type="text" name="no" value="{{ practice['no'] }}"></input>
            <label>コート代</label>
            <input type="text" name="price" value="{{ practice['price'] }}"></input>
            <label>備考</label>
            <textarea name="note" style="width: 80%; height: 100px;">{{ practice['note'] }}</textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% else %}
          <form action="{{ url_for('admin.new_practice') }}" method="post" class="well">
            <label>日付</label>
            <input type="text" name="date" class="datepicker" value="{{ today.strftime('%Y-%m-%d') }}"></input>
            <label>開始時刻</label>
            <input type="text" name="begintime" class="timepicker"></input>
            <label>終了時刻</label>
            <input type="text" name="endtime" class="timepicker"></input>
            <label>場所</label>
            <input type="text" name="loc"></input>
            <label>コート</label>
            <input type="text" name="court"></input>
            <label>予約番号</label>
            <input type="text" name="no"></input>
            <label>コート代</label>
            <input type="text" name="price"></input>
            <label>備考</label>
            <textarea name="note" style="width: 80%; height: 100px;"></textarea>
            <br>
            <button type="submit" class="btn">登録</button>
          </form>
          {% endif %}
{% endblock %}
