{% from 'macros.html' import you_can_use_tags, error_message %}
{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'game' %}

{% macro input_forms(url) %}
<form action="{{ url }}" method="post" class="well">
  <div class="form-group row">
    <div class="col-lg-4">
      <label>試合名</label>
      {{ error_message('name', errors) }}
      <input class="form-control" type="text" name="name" {% if schedule %}value="{{ schedule.name }}"{% endif %} required></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>開催日</label>
      {{ error_message('date', errors) }}
      <input class="form-control" type="date" name="date" {% if schedule %}value="{{ schedule.when_.strftime('%Y-%m-%d') }}"{% endif %} placeholder="年-月-日" required></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>場所</label>
      {{ error_message('loc', errors) }}
      <input class="form-control" type="text" name="loc" {% if schedule %}value="{{ schedule.loc }}"{% endif %} required></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>ジャンル</label>
      {{ error_message('genre', errors) }}
      <input class="form-control" type="text" name="genre" {% if schedule %}value="{{ schedule.genre }}"{% endif %} required></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>締め切り</label>
      {{ error_message('deadline', errors) }}
      <input class="form-control" type="date" name="deadline" {% if schedule %}value="{{ schedule.deadline }}"{% endif %} placeholder="年-月-日"></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>試合代</label>
      {{ error_message('price', errors) }}
      <input class="form-control" type="text" name="price" {% if schedule %}value="{{ schedule.price }}"{% endif %}></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>受付開始</label>
      {{ error_message('begin_acceptance', errors) }}
      <input class="form-control" type="time" name="begin_acceptance" {% if schedule %}value="{{ schedule.begin_acceptance }}"{% endif %} placeholder="時:分"></input>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-lg-4">
      <label>試合開始</label>
      {{ error_message('begin_game', errors) }}
      <input class="form-control" type="time" name="begin_game" {% if schedule %}value="{{ schedule.begin_game }}"{% endif %} placeholder="時:分"></input>
    </div>
  </div>
  <div class="form-group">
    <label>備考</label>
    {{ you_can_use_tags() }}
    {{ error_message('note', errors) }}
    <textarea class="form-control" name="note" style="width: 80%; height: 100px;">{% if schedule %}{{ schedule.note | safe }}{% endif %}</textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-default">登録</button>
</form>
{% endmacro %}


{% block tabcontent %}
          {% if schedule is defined %}
          {{ input_forms(url_for('admin.edit_game', id=schedule.id)) }}
          {% else %}
          {{ input_forms(url_for('admin.new_game')) }}
          {% endif %}
{% endblock %}
