{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'event' %}

{% block tabcontent %}
          <a class="btn btn-primary btn-block" href="{{ url_for('admin.new_event') }}">新規登録</a>
          <table class="table table-striped" style="margin-top: 12px;">
            <tbody>
              {% for e in events %}
              <tr>
                <td>
                  <a href="{{ url_for('admin.edit_event', id=e.id) }}">{{ e.name }} @{{ e.loc }}</a>
                </td>
                <td>
                  <a class="btn btn-default btn-danger" href="{{ url_for('admin.delete_event', id=e.id) }}"><i class="glyphicon glyphicon-white glyphicon-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
