{% extends 'admin/layout_schedule_history.html' %}
{% set active_tab = 'game' %}

{% block tabcontent %}
          {% for y in years %}
          <h3 style="margin-bottom: 0;">{{ y }} 年</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>参加</th>
                <th>不参加</th>
              </tr>
            </thead>
            <tbody>
              {% for ga in games[y] %}
              <tr>
                <td>
                  <a href="{{ url_for('admin.show_game', id=ga.id) }}">{{ ga.when_ | dateformat }} {{ ga.name }} @{{ ga.loc }}</a>
                </td>
                <td>{{ ga.entry_count }}</td>
                <td>{{ ga.not_entry_count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
{% endblock %}
