{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'admin_game' %}

{% block tabcontent %}
          <p style="text-align: center;">
            <a class="btn btn-primary" style="width: 80%; height: 22px; font-size: 13px;" href="{{ url_for('new_game') }}">新規登録</a>
          </p>
          <table class="table table-bordered" style="margin-top: 12px;">
            <tbody>
              {% for ga in games %}
              <tr>
                <td>
                  {{ ga['name'] }} @{{ ga['loc'] }}
                </td>
                <td>
                  <a class="btn" href="{{ url_for('edit_game', id=ga['id']) }}"><i class="icon-pencil"></i> 編集</a>
                  <a class="btn btn-danger" href="{{ url_for('delete_game', id=ga['id']) }}"><i class="icon-white icon-trash"></i> 削除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
