{% extends 'layout.html' %}
{% set active_page = 'admin' %}
{% set active_admin_page = active_admin_page | default('') %}

{% block maincontent %}
      <div class="subhead visible-desktop">
        <h1>管理</h1>
        <p class="lead">
          がんばろう。
        </p>
      </div>

      <div class="row">
        <div class="span3">
          <div class="well" style="padding: 8px;">
            <ul class="nav nav-list">
              <li class="nav-header">管理メニュー</li>
              {% for view, id, icon, caption in admin_navigation_list() %}
              {% set is_active = active_admin_page == id %}
              <li{% if is_active %} class="active"{% endif %}>
              <a href="{{ url_for(view) }}"><i class="{{ icon }}{% if is_active %} icon-white{% endif %}"></i> {{ caption }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="span9">
          {% block admincontent %}
          {% endblock %}
        </div>
      </div>
{% endblock %}
