{% extends 'admin/layout.html' %}
{% set active_admin_page = 'practice' %}
{% set active_tab = active_tab | default('') %}

{% block admincontent %}
          <h2>予定管理</h2>
          <ul class="nav nav-tabs">
            {% set admin_schedules_navs = [
                   ('admin.practice', 'practice', '練習'),
                   ('admin.game', 'game', '試合'),
                   ('admin.event', 'event', 'イベント')
               ]
            %}
            {% for view, id, caption in admin_schedules_navs %}
            <li{% if active_tab == id %} class="active"{% endif %}>
              <a href="{{ url_for(view) }}"> {{ caption }}</a>
            </li>
            {% endfor %}
          </ul>
          <div style="padding-top: 19px;">
          {% block tabcontent %}
          {% endblock %}
          </div>
{% endblock %}
