{% extends 'admin/layout.html' %}
{% set active_admin_page = 'member' %}

{% block admincontent %}
          <h2>メンバー管理</h2>
          <p style="text-align: center;">
            <a class="btn btn-primary" style="width: 80%; height: 22px; font-size: 13px;" href="{{ url_for('admin.new_member') }}">新規登録</a>
          </p>
          <h3>男性</h3>
          <table class="table table-bordered" style="margin-top: 12px;">
            <tbody>
              {% for u in males %}
              <tr>
                <td>
                  {{ u['name'] }}
                </td>
                <td>
                  <a class="btn" href="{{ url_for('admin.edit_member', id=u['id']) }}"><i class="icon-pencil"></i> 編集</a>
                  <a class="btn btn-danger" href="{{ url_for('admin.delete_member', id=u['id']) }}"><i class="icon-white icon-trash"></i> 削除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <h3>女性</h3>
          <table class="table table-bordered" style="margin-top: 12px;">
            <tbody>
              {% for u in females %}
              <tr>
                <td>
                  {{ u['name'] }}
                </td>
                <td>
                  <a class="btn" href="{{ url_for('admin.edit_member', id=u['id']) }}"><i class="icon-pencil"></i> 編集</a>
                  <a class="btn btn-danger" href="{{ url_for('admin.delete_member', id=u['id']) }}"><i class="icon-white icon-trash"></i> 削除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
