{% extends 'admin/layout_schedule_history.html' %}
{% set active_tab = 'practice' %}

{% block tabcontent %}
          {% for y in years %}
          <h3 style="margin-bottom: 0;">{{ y }} 年</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>参加</th>
                <th>不参加</th>
              </tr>
            </thead>
            <tbody>
              {% for p in practices[y] %}
              <tr>
                <td>
                  <a href="{{ url_for('admin.show_practice', id=p.id) }}">{{ p.when_ | datetimeformat }}-{{ p.end }} @{{ p.loc }}</a>
                </td>
                <td>{{ p.entry_count }}</td>
                <td>{{ p.not_entry_count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endfor %}
{% endblock %}
