{% extends 'admin/layout_schedule.html' %}
{% set active_tab = 'practice' %}

{% block tabcontent %}
          <p style="text-align: center;">
            <a class="btn btn-primary" style="width: 80%; height: 22px; font-size: 13px;" href="{{ url_for('admin.new_practice') }}">新規登録</a>
          </p>
          <table class="table table-bordered" style="margin-top: 12px;">
            <tbody>
              {% for p in practices %}
              <tr>
                <td>
                  {{ p['when_'] | datetimeformat }}-{{ p['end'] }} @{{ p['loc'] }}
                </td>
                <td>
                  <a class="btn" href="{{ url_for('admin.edit_practice', id=p['id']) }}"><i class="icon-pencil"></i> 編集</a>
                  <a class="btn btn-danger" href="{{ url_for('admin.delete_practice', id=p['id']) }}"><i class="icon-white icon-trash"></i> 削除</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endblock %}
