{% from 'macros.html' import error_message %}
{% extends 'admin/layout.html' %}
{% set active_admin_page = 'saying' %}

{% macro saying_table(sayings) %}
          <table class="table table-striped" style="margin-top: 12px;">
            <thead>
              <tr>
                <th>発言者</th>
                <th>内容</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for s in sayings %}
              <tr>
                <td>{{ s.who }}</td>
                <td>{{ s.body }}</td>
                <td>
                  <a class="btn btn-default btn-danger" href="{{ url_for('admin.delete_saying', id=s.id) }}"><i class="glyphicon glyphicon-white glyphicon-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
{% endmacro %}

{% block admincontent %}
          <h2>名言管理 <small>画面下に出るアレです</small></h2>
          <div class="panel-group" id="post" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#post" href="#post-form">新規登録</a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="post-form">
                <div class="panel-body">
                  <form action="{{ url_for('admin.new_saying') }}" method="post">
                    <div class="form-group row">
                      <div class="col-lg-4">
                        {{ error_message('who', errors) }}
                        <input class="form-control" type="text" name="who" placeholder="発言者" required></input>
                      </div>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="private" value="private">非公開</input>
                      </label>
                    </div>
                    <div class="form-group">
                      {{ error_message('body', errors) }}
                      <input class="form-control" type="text" name="body" placeholder="内容" required></input>
                    </div>
                    <br>
                    <input class="btn btn-default" type="submit" name="submit" value="登録"></input>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <h4>一般公開名言</h4>
          {{ saying_table(public_saying) }}
          <h4>非公開名言 (ログインユーザにのみ表示)</h4>
          {{ saying_table(private_saying) }}
{% endblock %}
