{% from 'admin/macros.html' import entries_list %}
{% extends 'admin/layout_schedule_history.html' %}
{% set active_tab = 'practice' %}

{% block tabcontent %}
          <table class="table table-bordered" style="margin-top: 12px;">
            <thead>
              <tr>
                <th>詳細</th>
                <th>状況</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <dl>
                    <dt>日程</dt>
                    <dd>{{ schedule.when_ | datetimeformat }}-{{ schedule.end }}</dd>
                    <dt>場所</dt>
                    <dd>{{ schedule.loc }}</dd>
                    <dt>コート</dt>
                    <dd>{{ schedule.court }}</dd>
                    <dt>予約番号</dt>
                    <dd>{{ schedule.no }}</dd>
                    <dt>コート代</dt>
                    <dd>{{ schedule.price }}円</dd>
                    <dt>備考</dt>
                    <dd>{{ schedule.note | nl2br | safe }}</dd>
                  </dl>
                </td>
                <td>
                  {{ entries_list(schedule) }}
                </td>
              </tr>
            </tbody>
          </table>
{% endblock %}
